<?xml version="1.0" encoding="utf-8"?>
<Media Key="2fe2ee4d-88c8-4200-bdf5-fa00083678e3" Alias="Cat" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Cat</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-05T14:05:55</CreateDate>
    <NodeName Default="Cat" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jpxoel4i/cat.jpg",
  "focalPoint": {
    "left": 0.5078125,
    "top": 0.4485981308411215
  }
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>