<?xml version="1.0" encoding="utf-8"?>
<Media Key="51428d8e-4196-4a86-85b9-abfa6ee85b55" Alias="Church" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Church</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-05T14:05:55</CreateDate>
    <NodeName Default="Church" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rcgfeumw/church.jpg",
  "focalPoint": {
    "left": 0.5015625,
    "top": 0.521875
  }
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>