<?xml version="1.0" encoding="utf-8"?>
<Media Key="bdd9108f-78e8-450c-bd25-1fa1a0cb90d1" Alias="Green" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Green</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-05T15:43:11</CreateDate>
    <NodeName Default="Green" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/reintppi/green.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>