<?xml version="1.0" encoding="utf-8"?>
<Media Key="dea497d7-edf2-4890-b51f-866735859a20" Alias="Pink" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Pink</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-05T15:20:43</CreateDate>
    <NodeName Default="Pink" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0glljxxs/pink.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>