<?xml version="1.0" encoding="utf-8"?>
<Media Key="2580f6d4-fbf1-4cba-845b-58439da925af" Alias="Purple" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Purple</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-05T15:19:12</CreateDate>
    <NodeName Default="Purple" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0l1iajpr/purple.jpg",
  "focalPoint": {
    "left": 0.49375,
    "top": 0.46955503512880564
  }
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>