<?xml version="1.0" encoding="utf-8"?>
<Media Key="8146b16d-e8b6-4544-8722-bf43adb5c468" Alias="Train" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Train</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-05T14:05:55</CreateDate>
    <NodeName Default="Train" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/noyfnanw/train.jpg",
  "focalPoint": {
    "left": 0.646875,
    "top": 0.41935483870967744
  }
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>