<?xml version="1.0" encoding="utf-8"?>
<Media Key="2aa36647-ce3d-4fc6-bf9b-46a279e49832" Alias="Yellow" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Yellow</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-05T15:22:10</CreateDate>
    <NodeName Default="Yellow" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/iftkgkr3/yellow.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>